
body {
    font-family: Arial, sans-serif;
}

h1 {

    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
    font-family: Arial, sans-serif;

    background-color: rgb(255, 204, 0);
    margin-left: 3em;
    margin-right: 3em;
    padding: 0.5em;
}

form {
    margin-left: 3em;
    margin-right: 4.3em;
    padding: 01em;
    background-color: rgb(255, 241, 183);
    border: 2.5px solid rgb(255, 204, 0);
}

#button, #submit {


    background-color: rgb(111, 0, 162);
    color: azure;
    font-size: 1em;
    padding: 0.5em;
    margin-left: 1em;
    margin-right: 1em;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 5px;
    cursor: pointer;
}

#container {

    display: flex;
    flex-direction: row;
    justify-content: center;

    padding: 0.5em;
    background-color: rgb(255, 204, 0);
}


span {
    font-weight: bold;
    font-size: 2em;
    color: rgb(200, 92, 92);
}
